.loaderpage{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.519);
    z-index: 1000;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    font-size: larger;
}
.options{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.options >button{
    padding: 10px;
    border: none;
    background: green;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}